* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #242426;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    width: 100%;
}

header {
    width: 100vw;
    height: 5rem;
    position: relative;
    z-index: 1;
  }

.header {
    height: 30%;
    background-color: #3a3838;
}

.links {
    height: 100%;
    gap: 20px;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.links li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.links li a i {
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 12.5%;
  }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu li a {
     text-decoration: none;
     color: #000;
}

.menu h4 {
     color: rgb(255, 51, 51);
     border: 5px solid rgb(211, 34, 34);
     height: 40px;
     width: 100px;
     text-align: center;
     padding: 5px;
     margin-top: 5px;
}

.last {
    border: 5px solid rgb(211, 34, 34);
    height: px;
    width: 150px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.last a {
    color: rgb(252, 49, 49);
}

.hero_section {
    display: flex;
    flex-direction: column;
    /* text-align: justify; */
    /* padding-left: 120px; */
    /* gap: 5px; */
    padding-left: 120px;
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat:repeat;
    padding-top: 80px; 
    padding-bottom: 100px;
}

.content1 {
    display: flex;
    flex-direction: column;
}

.content1 h1 {
     display: block;
    font-size: 4.8rem;
    line-height: 70px;
    font-weight: 900;
    text-transform: uppercase;
    font-family:'Lato',Verdana, Tahoma, sans-serif;
    margin: 0;
    background: url(/images/text-bg.jpg) 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    
}

.content1 h2{
    color: rgb(243, 97, 44);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}


.content1 p {
    background-color: rgba(242, 242, 242, 0.815);
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border: 3px solid #fff;
}

.venue h3 {
    font-size: 35px;
}

.benefits {
    background-color: #23232a;
}

.gathering {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 5px;
    padding-bottom: 100px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.content2 h3 {
    color: #fff;
}

.content2 h3 hr {
    border-color: rgb(156, 45, 4);
}
.function h2 {
    color: rgb(184, 53, 5);
    font-size: 20px;
}

.function {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(64, 60, 60);
    height: 250px;
    padding: 30px;
}

.function p, span a {
    color: #fff;
}
.function p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    text-align: justify;
}
 span a {
    text-decoration: underline;
    margin-top: 30px;
}

.featured-speakers {
    margin-top: 100px;
}
.images img{
    width: 40%;
}

@media screen and (max-width: 1024px) {
    body {
        color: black;
        background-color: rgb(252, 250, 248);
        font-family: "Lato", sans-serif;
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        height: 5rem;
        z-index: 1;
        background: url(/images/background.jpg);
    }

    .header {
        display: none;
    }

    .nav-bar {
        display: flex;
        align-items: center;
    }

    .hero_section {
        margin-top: 0;
        background: url(/images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 10px;
    }

    h2{
        color: rgb(243, 97, 44);
        font-size: 1.9rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .content1 h1{
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: right; */
        font-size: 2.4rem;
        line-height: 35px;
        font-weight: 750;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        margin: 0;
        background: url(/images/text-bg.jpg) 50% 50%;
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 55px;
        width: 90px;
        height: 20px;
        cursor: pointer;
    }

    .hamburger-bars {
        background-color: #333;
        width: 100%;
        height: 3px;
        color: white;
    }

    .menu ,.last{
        display: none;
    }

    .menu li a ,h4{
        display: none;
    }


    .menu.active {
        display: flex;
        flex-direction: column;
    }

    .menu.active li {
        margin-bottom: 10px;
    }
    .content1 {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 25px;
        gap: 5px;
    }

    .content1 p {
        display: block;
        background-color: rgb(244, 241, 239);
        font-size: 1rem;
        margin-left: 0px;
        margin-top: 30px;
        border: 3px solid #fff;
    }

    .venue {
        margin-left:0px;
    }
    .venue h3 {
        color: #333;
        font-size: 1.7rem;
        font-weight: 800;
        margin-left: 20px;
    }

    .venue h4 {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 16px;
        color: rgb(51,51,51);
        font-family: 'Nanum Gothic';
    }
    .benefits {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 100px;
        background-color: #23232a;
        color: white;
    }
    .function {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
        background-color: rgb(64, 60, 60);
        height: 110px;
    }
    .function h2 {
        color:  rgb(243, 97, 44);
        margin-top: 15px;
        font-size: 0.9rem;
    }
    .function img {
        background-color: rgb(37, 35, 35);
    }

    .function p {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;
        width: 85%;
    }
    .content2 h3 {
        text-align: center;
        margin-top: 50px;
        color: #fff;
    }

    .content2 hr {
        margin-top: 5px;
        width: 13%;
        border-color: rgb(156, 45, 4);
        position: absolute;
        right: 175px;
    }
    .gathering {
        margin-top: 100px;
    }

    span a {
        font-size: 18px;
        display: flex;
        color: #fff;
        padding-left: 100px;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .featured-speakers {
        margin-top: 50px;
    }
    .people {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 40px;
    }

    .description {
       padding-left: 30px;
    }

    .description h2 {
        color: #000;
        font-size: 20px;
    }

    i {
        font-size: 0.9rem;
        color: rgb(233, 106, 15);
    }

    .images img {
        height: 200px;
        width: 170px;
    }

    .heading hr {
        width: 20%;
        border-color: rgb(227, 85, 34);
        position: absolute;
        right: 200px;
    }

    .heading h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: #191919;
    }

    .text {
        padding: auto;
        margin: auto;
        top: 50px;
        position: relative;
        text-align: center;
        border: 1.5px solid #393d47;
        height: 40px;
        width: 200px;
        line-height: 45px;
    }

    .partners {
        background-color: #454444;
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    .partners h2 {
        color: #8a8a8f;
    }

    .partners hr {
        position: absolute;
        width: 17%;
        border-color: rgb(239, 104, 7);
        right: 40%;
    }

    .logo-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    .logo-container img {
        width: 70px;
    }

    .content3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }

    footer h4 {
        color: rgb(255, 51, 51);
        border: 5px solid rgb(211, 34, 34);
        height: 50px;
        width: 100px;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
    }

    footer i {
        color: #333;
        margin-top: 20px;
    }
}