@media screen and (max-width: 1024px) {
    * { 
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
    }

    body {
        color: black;
        background-color: rgb(252, 250, 248);
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        height: 5rem;
        z-index: 1;
        background: url(/images/background.jpg);
    }

    .nav-bar {
        display: flex;
        align-items: center;
    }

    .hero_section {
        background: url(/images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    h2{
        font-size: 1.9rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h1{
        font-size: 2.5rem;
        line-height: 0.9;
        font-weight: 550;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .content1 h2,h1 {
        color: rgb(243, 97, 44);
        margin-left: 25px;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 55px;
        width: 90px;
        height: 25px;
        cursor: pointer;
    }

    .hamburger-bars {
        background-color: #333;
        width: 100%;
        height: 3px;
        color: white;
    }
    .content1 {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 25px;
        gap: 5px;
    }
    .content1 p {
        background-color: rgb(252, 248, 246);
        font-size: 1rem;
        margin-left: 40px;
        margin-top: 30px;
    }

    .venue {
        margin-left: 25px;
    }

    .venue h4 {
        margin-top: 10px;
    }
    .benefits {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        background-color: rgb(29, 27, 27);
        color: white;
    }
    .function {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        background-color: rgb(64, 60, 60);
        height: 110px;
    }
    .function h2 {
        color:  rgb(243, 97, 44);
        margin-top: 15px;
        font-size: 0.9rem;
    }
    .function img {
        background-color: rgb(37, 35, 35);
    }

    .function p {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;
        width: 85%;
    }
    .content2 h3 {
        text-align: center;
        margin-top: 50px;
    }

    .content2 hr {
        width: 15%;
        border-color: coral;
        position: absolute;
        right: 150px;
    }
    .gathering {
        margin-top: 100px;
    }
    .featured-speakers {
        margin-top: 100px;
    }
    .people {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 40px;
    }

    .description {
       padding-left: 30px;
    }

    i {
        font-size: 0.9rem;
        color: rgb(233, 106, 15);
    }

    .images img {
        height: 200px;
        width: 170px;
    }

    .heading hr {
        width: 35%;
        border-color: coral;
        position: absolute;
        right: 150px;
    }

    .heading h2 {
        text-align: center;
    }
}
